/*___Jobs Filter____*/
.arrow{ position: relative; width: calc(14px + 10 * ((100vw - 1080px) / 840));}
.arrow::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    -moz-transform: translate(-50%,-50%) rotate(-90deg);
    -ms-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    position: absolute;
}
.arrow::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    position: absolute;
}
.filter-content { display: none;}
.filter-group.active .filter-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 1rem;
}
.filter-group {
    border-bottom: 1px solid var(--border-color);
    font-family: var(--heading-font-family);
    font-weight: 500;
    padding-top: calc(14px + 10 * ((100vw - 1080px) / 840));
    padding-bottom: calc(14px + 10 * ((100vw - 1080px) / 840));
    padding-left: calc(20px + 20 * ((100vw - 1080px) / 840));
    padding-right: calc(16px + 16 * ((100vw - 1080px) / 840));
}
.filter-group:last-child {
    border-bottom: none;
}
.filter-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-content label span{
    display: inline-block;
    cursor: pointer;
    font-size: calc(-2px + 1.1vw);
    border: 1px solid var(--border-color);
    padding: calc(-2px + 0.5vw) calc(-2px + 1vw);
    line-height: 1.2em;
    font-weight: 300;
    border-radius: 5px;
    background: white;
    transition: all 0.4s;
}
.filter-content input[type="checkbox"]:checked + span,
.filter-content label span:hover {
    color: white;
    background-color: #002F5F;
}
.jobs_filter_area {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.sicky_filter {
    position: sticky;
    top: 80px;
}
.filter_title {
    padding-top: calc(14px + 10 * ((100vw - 1080px) / 840));
    padding-bottom: calc(14px + 10 * ((100vw - 1080px) / 840));
    padding-left: calc(20px + 20 * ((100vw - 1080px) / 840));
    padding-right: calc(16px + 16 * ((100vw - 1080px) / 840));
    border-bottom: 1px solid var(--border-color);
}
.job_item {
    display: grid;
    grid-template-columns: 11fr 3fr 25px;
    border-bottom: 1px solid var(--border-color);
    padding-left: calc(20px + 20 * ((100vw - 1080px) / 840));
    padding-right: calc(20px + 20 * ((100vw - 1080px) / 840));
    padding-top: calc(35px + 30 * ((100vw - 1080px) / 840));
    padding-bottom: calc(36px + 30 * ((100vw - 1080px) / 840));
    transition: all 0.4s;
    background-color: #FAFAFF99;
}
.job_item:hover{ background-color: #002F5F;}
.job_item:hover *{ color: white; fill: white;}
a.view_job svg {
    width: 100%;
}
.view_job:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}
.filter-content input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    appearance: none;
}
/*___Other Style___*/
.personilize_item:before{ display: none;}
.culture_item { border-top: 1px solid #55A0EC; }
.expect_item {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5vw;
}
.expect_image_area {
    padding: 1.5vw;
    border-bottom: 1px solid var(--border-color);
}
.icon-with-title::before {
    content: url('data:image/svg+xml; utf8, <svg width="30" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="38" height="38" rx="19" fill="%239EE828"/><path d="M16.9448 25L11 19.3119L12.4862 17.8898L16.9448 22.1559L26.5138 13L28 14.422L16.9448 25Z" fill="%230171E3"/></svg>');
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 3px;
}
.icon-with-title {
    padding-left: 40px;
}
.hiring_process.service-accordion h4{ text-decoration: none;}
.process_number_count {
    font-size: calc(32px + 1.1vw);
    font-family: var(--heading-font-family);
    line-height: 1em;
    color: var(--heading-color);
    font-weight: 200;
}
.hiring_process .service-accorion-item:hover,
.hiring_process .service-accorion-item.active{ 
    background-color: #002F5F; 
    border-color: var(--secondary-color); 
    color: #ffffff; 
}
.hiring_process .service-accorion-item:hover h4,
.hiring_process .service-accorion-item:hover .process_number_count,
.hiring_process .service-accorion-item.active h4,
.hiring_process .service-accorion-item.active .process_number_count{
    color: #ffffff;
}
.our_approach_slider .swiper-slide {
    padding: 2rem;
    border-left: 1px solid var(--border-color);
}
.our_approach_slider {
    padding-left: 15%;
    position: relative;
}
.our_approach_slider{
    padding-left: 15%;
    position: relative;
}
.single_service_item_list .service-accorion-item:last-child  .single_accordion_head {
    border-bottom: none;
}
.our_approach_slider mondaysys-carousel,
.our_approach_slider .swiper-wrapper,
.our_approach_slider .swiper{
    position: static;
}
.our_approach_slider .swiper-slide {
    padding: 2rem;
    border-left: 1px solid var(--border-color);
}
.our_approach_slider .btn-slider{
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 100%;
    transition: all 0.4s;
}
.our_approach_slider .swiper-button-prev.btn-slider {
    left: 2rem;
}
.our_approach_slider .swiper-button-next.btn-slider {
    left: 5rem;
}
.our_approach_slider .swiper-slide p:last-of-type{ 
    margin-bottom: 0;
    font-weight: 300;
    
}
.our_approach_slider .btn-slider svg{
    fill: #000;
}
.our_approach_slider .btn-slider:hover svg{
    fill: #ffffff;
}
.our_approach_slider .btn-slider:hover{
    background: var(--primary-color);
    border:1px solid var(--primary-color);
}
.testimonial_author {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
}
.left-icon-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.icon-email::before {
    content: url('data:image/svg+xml; utf8, <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.5 7.5C27.5 6.125 26.375 5 25 5H5C3.625 5 2.5 6.125 2.5 7.5V22.5C2.5 23.875 3.625 25 5 25H25C26.375 25 27.5 23.875 27.5 22.5V7.5ZM25 7.5L15 13.75L5 7.5H25ZM25 22.5H5V10L15 16.25L25 10V22.5Z" fill="black"/></svg>');
    position: relative;
    top: 5px;
}
.icon_phone::before {
    content: url('data:image/svg+xml; utf8, <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.8125 6.13757C22.6663 4.9802 21.3013 4.06253 19.7969 3.43802C18.2925 2.81352 16.6789 2.49467 15.05 2.50007C8.225 2.50007 2.6625 8.06257 2.6625 14.8876C2.6625 17.0751 3.2375 19.2001 4.3125 21.0751L2.5625 27.5001L9.125 25.7751C10.9375 26.7626 12.975 27.2876 15.05 27.2876C21.875 27.2876 27.4375 21.7251 27.4375 14.9001C27.4375 11.5876 26.15 8.47507 23.8125 6.13757ZM15.05 25.1876C13.2 25.1876 11.3875 24.6876 9.8 23.7501L9.425 23.5251L5.525 24.5501L6.5625 20.7501L6.3125 20.3626C5.28443 18.7214 4.73866 16.8242 4.7375 14.8876C4.7375 9.21257 9.3625 4.58757 15.0375 4.58757C17.7875 4.58757 20.375 5.66257 22.3125 7.61257C23.272 8.5674 24.0324 9.70325 24.5495 10.9542C25.0667 12.2052 25.3302 13.5464 25.325 14.9001C25.35 20.5751 20.725 25.1876 15.05 25.1876ZM20.7 17.4876C20.3875 17.3376 18.8625 16.5876 18.5875 16.4751C18.3 16.3751 18.1 16.3251 17.8875 16.6251C17.675 16.9376 17.0875 17.6376 16.9125 17.8376C16.7375 18.0501 16.55 18.0751 16.2375 17.9126C15.925 17.7626 14.925 17.4251 13.75 16.3751C12.825 15.5501 12.2125 14.5376 12.025 14.2251C11.85 13.9126 12 13.7501 12.1625 13.5876C12.3 13.4501 12.475 13.2251 12.625 13.0501C12.775 12.8751 12.8375 12.7376 12.9375 12.5376C13.0375 12.3251 12.9875 12.1501 12.9125 12.0001C12.8375 11.8501 12.2125 10.3251 11.9625 9.70007C11.7125 9.10007 11.45 9.17507 11.2625 9.16257H10.6625C10.45 9.16257 10.125 9.23757 9.8375 9.55007C9.5625 9.86257 8.7625 10.6126 8.7625 12.1376C8.7625 13.6626 9.875 15.1376 10.025 15.3376C10.175 15.5501 12.2125 18.6751 15.3125 20.0126C16.05 20.3376 16.625 20.5251 17.075 20.6626C17.8125 20.9001 18.4875 20.8626 19.025 20.7876C19.625 20.7001 20.8625 20.0376 21.1125 19.3126C21.375 18.5876 21.375 17.9751 21.2875 17.8376C21.2 17.7001 21.0125 17.6376 20.7 17.4876Z" fill="black"/></svg>');
    position: relative;
    top: 2px;
}
.address_box_wrap a {
    color: var(--heading-color);
    transition: all 0.4s;
}
.address_box_wrap a:hover {
    color: var(--secondary-color);
}
.contact-button-wrap {
    gap: 20px;
}

/*____Single Job Posts____*/
.job-specification li strong {
    display: block;
    font-family: var(--heading-font-family);
    color: var(--heading-color);
    margin-top: 10px;
}

.job_details_wrap .container, .single_jobs_head .container {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
}
.form-btn-wrap input {
    width: calc(100% - 2rem);
    text-align: left;
    border-radius: 0;
    padding: calc(14px + 0.3vw) calc(20px + 0.3vw);
    margin-left: 2rem;
    font-size: calc(16px + 0.3vw);
    line-height: 1.3em;
}
.form-btn-wrap::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="white" d="M17 4.632V3.35H0V0h24v24h-3.349V7h-1.283L2.97 23.398.602 21.03z"></path></svg>');
    position: absolute;
    right: calc(20px + 0.3vw);
    width: 1.2rem;
    top: calc(14px + 0.3vw);
}
.job_sidebar .wpcf7{ position: sticky; top: 60px;}
.jobs_footer_above{ 
    background-image: url(../images/jobs-single-footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1600px){
    .job_item { padding-bottom: calc(36px + 29 * ((100vw - 1080px) / 840)); }
}
@media (min-width: 1024px){
    .icon-with-title h4 {
        font-size: calc(-5px + 1.66667vw);
    }
    .job-specification li span { font-size: calc(-2px + 1.19048vw); }
    .job_details{ padding-right: 2rem;}
    .single_jobs_head{ background: linear-gradient(to right, #E3E3E5 0%, #E3E3E5 64.5%, #ECEBED 64.5%, #ECEBED 100%); }
    .job_details_wrap { background: linear-gradient(to right, #ECEBED 0%, #ECEBED 64.5%, #E3E3E5 64.5%, #E3E3E5 100%); }
    
}
@media (min-width: 768px) and (max-width: 1024px){
    .job_details_wrap {
        background: linear-gradient(to right, #ECEBED 0%, #ECEBED 63%, #E3E3E5 64%, #E3E3E5 100%);
    }
    .single_jobs_head { background: linear-gradient(to right, #E3E3E5 0%, #E3E3E5 63%, #ECEBED 63%, #ECEBED 100%); }
    .job_details{ padding-right: 2rem;}
}
@media (max-width: 1024px){
    .our_approach_slider .swiper-button-prev.btn-slider {
        left: 0.5rem;
    }
    .our_approach_slider .swiper-button-next.btn-slider {
        left: 0.5rem;
        margin-top: 30px;
    }
}
@media (max-width: 767px){
    .titbar_bottom { width: calc(100% - calc(3% + 3.6vw)); margin-left: 0; }
    .about_page_titlebar { padding-top: 180px; }
    .about_page_titlebar:after{ height: 180px;}
    .filter-group, .filter_title{ padding: 1rem;}
    .arrow { width: 14px; }
    .job_item {  grid-template-columns: 11fr 3fr 13px; padding: 1rem; }
    .jobs_filter_area{ border-right: none;}
    .icon-with-title h4 { font-size: 16px; }
    .expect_item{ border-left: none; padding: 1rem;}
    .job_sidebar .wpcf7 {
        margin-left: -1rem;
        position: static;
    }
}